
{% for reply in comment.comments %}
    <div class="reply" style="margin-left: 20px;">
        <strong>{{ reply.user ? reply.user.username : 'Utilisateur inconnu' }} :</strong> {{ reply.content }}

        <!-- Lien pour répondre au commentaire -->
        <a href="{{ path('app_comment_new', {'tweetId': tweet.id, 'parentCommentId': reply.id}) }}">Répondre</a>

        <!-- Affichage récursif des sous-réponses -->
        <div class="replies" style="margin-left: 20px;">
            {% include 'comment/_replies.html.twig' with {'comment': reply, 'tweet': tweet} %}
        </div>
    </div>
{% endfor %}
