.swal2-icon.swal2-warning {
    color: red;  /* Change la couleur de l'icône warning en rouge */
    border-color: red
}

.bouton {
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.bouton:hover {
    transform: scale(1.1);
}

.bouton:active {
    transform: scale(0.95);
}

.like-btn:hover {
    background-color: #ff4d4d;
}

.rt-btn:hover {
    background-color: #6c757d;
}