{# <form method="post" action="{{ path('app_tweets_delete', {'id': tweet.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tweet.id) }}">
    <button type= submit class="btn btn-danger">Oui, Supprimer</button>
</form> #}
