{% extends 'base.html.twig' %}

{% block title %}Edit Tweets{% endblock %}

{% block body %}
    <h1>Edit Tweets</h1>

    {{ include('tweets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tweets_index') }}">back to list</a>

    {{ include('tweets/_delete_form.html.twig') }}
{% endblock %}
