{% extends 'base.html.twig' %}

{% block title %}Edit Tweets{% endblock %}

{% block body %}


<main class="d-flex flex-column justify-content-center align-items-center mt-5 text-center">

    <h1 class="m-5 p-5"> ⇩ Modifier votre tweet ici ⇩</h1>

    {{ include('tweets/_form.html.twig', {'button_label': 'Valider la modification'}) }}

</main>


{% endblock %}
