{% extends 'base.html.twig' %}

{% block title %}Poster un Tweet{% endblock %}

{% block body %}

<main class="d-flex flex-column justify-content-center align-items-center text-center">

<div class="mt-5">
<h1>Poster un tweet</h1>
</div>

<div class="m-3 p-5 ">
    {{ include('tweets/_form.html.twig') }}
</div>

</main>

{% endblock %}