{% extends 'base.html.twig' %}

{% block title %}Tweets{% endblock %}

{% block body %}
    <h1>Tweets</h1>

    <table class="text-white">
        <tbody>
            <tr>
                <th>Content</th>
                <td>{{ tweet.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tweet.createdAt|date('Y-m-d H:i:s')}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tweets_index') }}">back to list</a>

{% endblock %}
